<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Core_Banking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/MyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Forgot</display-name>
    <servlet-name>Forgot</servlet-name>
    <servlet-class>Forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassSent</display-name>
    <servlet-name>PassSent</servlet-name>
    <servlet-class>PassSent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassSent</servlet-name>
    <url-pattern>/PassSent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inbox</display-name>
    <servlet-name>Inbox</servlet-name>
    <servlet-class>Inbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/Inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassChange</display-name>
    <servlet-name>PassChange</servlet-name>
    <servlet-class>PassChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassChange</servlet-name>
    <url-pattern>/PassChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pass</display-name>
    <servlet-name>Pass</servlet-name>
    <servlet-class>Pass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pass</servlet-name>
    <url-pattern>/Pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassBook</display-name>
    <servlet-name>PassBook</servlet-name>
    <servlet-class>PassBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassBook</servlet-name>
    <url-pattern>/PassBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSent</display-name>
    <servlet-name>MessageSent</servlet-name>
    <servlet-class>MessageSent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSent</servlet-name>
    <url-pattern>/MessageSent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loan</display-name>
    <servlet-name>Loan</servlet-name>
    <servlet-class>Loan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loan</servlet-name>
    <url-pattern>/Loan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditDetails</display-name>
    <servlet-name>CreditDetails</servlet-name>
    <servlet-class>CreditDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditDetails</servlet-name>
    <url-pattern>/CreditDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitDetails</display-name>
    <servlet-name>DebitDetails</servlet-name>
    <servlet-class>DebitDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitDetails</servlet-name>
    <url-pattern>/DebitDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Treasury</display-name>
    <servlet-name>Treasury</servlet-name>
    <servlet-class>Treasury</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Treasury</servlet-name>
    <url-pattern>/Treasury</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance</display-name>
    <servlet-name>Finance</servlet-name>
    <servlet-class>Finance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance</servlet-name>
    <url-pattern>/Finance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SS</display-name>
    <servlet-name>SS</servlet-name>
    <servlet-class>SS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SS</servlet-name>
    <url-pattern>/SS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Agro</display-name>
    <servlet-name>Agro</servlet-name>
    <servlet-class>Agro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agro</servlet-name>
    <url-pattern>/Agro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rural</display-name>
    <servlet-name>Rural</servlet-name>
    <servlet-class>Rural</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rural</servlet-name>
    <url-pattern>/Rural</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Corporate</display-name>
    <servlet-name>Corporate</servlet-name>
    <servlet-class>Corporate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Corporate</servlet-name>
    <url-pattern>/Corporate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A2A</display-name>
    <servlet-name>A2A</servlet-name>
    <servlet-class>A2A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A2A</servlet-name>
    <url-pattern>/A2A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A2ASubmit</display-name>
    <servlet-name>A2ASubmit</servlet-name>
    <servlet-class>A2ASubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A2ASubmit</servlet-name>
    <url-pattern>/A2ASubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remit</display-name>
    <servlet-name>Remit</servlet-name>
    <servlet-class>Remit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remit</servlet-name>
    <url-pattern>/Remit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayBill</display-name>
    <servlet-name>PayBill</servlet-name>
    <servlet-class>PayBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayBill</servlet-name>
    <url-pattern>/PayBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tax</display-name>
    <servlet-name>Tax</servlet-name>
    <servlet-class>Tax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tax</servlet-name>
    <url-pattern>/Tax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayTax</display-name>
    <servlet-name>PayTax</servlet-name>
    <servlet-class>PayTax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayTax</servlet-name>
    <url-pattern>/PayTax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sanction</display-name>
    <servlet-name>Sanction</servlet-name>
    <servlet-class>Sanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sanction</servlet-name>
    <url-pattern>/Sanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoanSanction</display-name>
    <servlet-name>LoanSanction</servlet-name>
    <servlet-class>LoanSanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanSanction</servlet-name>
    <url-pattern>/LoanSanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Credit</display-name>
    <servlet-name>Credit</servlet-name>
    <servlet-class>Credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credit</servlet-name>
    <url-pattern>/Credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditIssue</display-name>
    <servlet-name>CreditIssue</servlet-name>
    <servlet-class>CreditIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditIssue</servlet-name>
    <url-pattern>/CreditIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Debit</display-name>
    <servlet-name>Debit</servlet-name>
    <servlet-class>Debit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Debit</servlet-name>
    <url-pattern>/Debit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitIssue</display-name>
    <servlet-name>DebitIssue</servlet-name>
    <servlet-class>DebitIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitIssue</servlet-name>
    <url-pattern>/DebitIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueTreasury</display-name>
    <servlet-name>IssueTreasury</servlet-name>
    <servlet-class>IssueTreasury</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueTreasury</servlet-name>
    <url-pattern>/IssueTreasury</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Treasure</display-name>
    <servlet-name>Treasure</servlet-name>
    <servlet-class>Treasure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Treasure</servlet-name>
    <url-pattern>/Treasure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryResult</display-name>
    <servlet-name>QueryResult</servlet-name>
    <servlet-class>QueryResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryResult</servlet-name>
    <url-pattern>/QueryResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinanceForm</display-name>
    <servlet-name>FinanceForm</servlet-name>
    <servlet-class>FinanceForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceForm</servlet-name>
    <url-pattern>/FinanceForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SSSanction</display-name>
    <servlet-name>SSSanction</servlet-name>
    <servlet-class>SSSanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSSanction</servlet-name>
    <url-pattern>/SSSanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgroSanction</display-name>
    <servlet-name>AgroSanction</servlet-name>
    <servlet-class>AgroSanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgroSanction</servlet-name>
    <url-pattern>/AgroSanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RuralSanction</display-name>
    <servlet-name>RuralSanction</servlet-name>
    <servlet-class>RuralSanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RuralSanction</servlet-name>
    <url-pattern>/RuralSanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorpSanction</display-name>
    <servlet-name>CorpSanction</servlet-name>
    <servlet-class>CorpSanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpSanction</servlet-name>
    <url-pattern>/CorpSanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustAccount</display-name>
    <servlet-name>CustAccount</servlet-name>
    <servlet-class>CustAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustAccount</servlet-name>
    <url-pattern>/CustAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchACNum</display-name>
    <servlet-name>SearchACNum</servlet-name>
    <servlet-class>SearchACNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchACNum</servlet-name>
    <url-pattern>/SearchACNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchACOpen</display-name>
    <servlet-name>SearchACOpen</servlet-name>
    <servlet-class>SearchACOpen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchACOpen</servlet-name>
    <url-pattern>/SearchACOpen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchACBal</display-name>
    <servlet-name>SearchACBal</servlet-name>
    <servlet-class>SearchACBal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchACBal</servlet-name>
    <url-pattern>/SearchACBal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemitForm</display-name>
    <servlet-name>RemitForm</servlet-name>
    <servlet-class>RemitForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemitForm</servlet-name>
    <url-pattern>/RemitForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreated</display-name>
    <servlet-name>AccountCreated</servlet-name>
    <servlet-class>AccountCreated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreated</servlet-name>
    <url-pattern>/AccountCreated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAccount</display-name>
    <servlet-name>EmpAccount</servlet-name>
    <servlet-class>EmpAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAccount</servlet-name>
    <url-pattern>/EmpAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpSubmit</display-name>
    <servlet-name>EmpSubmit</servlet-name>
    <servlet-class>EmpSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpSubmit</servlet-name>
    <url-pattern>/EmpSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ledger</display-name>
    <servlet-name>Ledger</servlet-name>
    <servlet-class>Ledger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ledger</servlet-name>
    <url-pattern>/Ledger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LedgerView</display-name>
    <servlet-name>LedgerView</servlet-name>
    <servlet-class>LedgerView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LedgerView</servlet-name>
    <url-pattern>/LedgerView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Close</display-name>
    <servlet-name>Close</servlet-name>
    <servlet-class>Close</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Close</servlet-name>
    <url-pattern>/Close</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseConfirm</display-name>
    <servlet-name>CloseConfirm</servlet-name>
    <servlet-class>CloseConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseConfirm</servlet-name>
    <url-pattern>/CloseConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifySignature</display-name>
    <servlet-name>VerifySignature</servlet-name>
    <servlet-class>VerifySignature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifySignature</servlet-name>
    <url-pattern>/VerifySignature</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DTR</display-name>
    <servlet-name>DTR</servlet-name>
    <servlet-class>DTR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DTR</servlet-name>
    <url-pattern>/DTR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SR</display-name>
    <servlet-name>SR</servlet-name>
    <servlet-class>SR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SR</servlet-name>
    <url-pattern>/SR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LEMI</display-name>
    <servlet-name>LEMI</servlet-name>
    <servlet-class>LEMI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LEMI</servlet-name>
    <url-pattern>/LEMI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stand</display-name>
    <servlet-name>Stand</servlet-name>
    <servlet-class>Stand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stand</servlet-name>
    <url-pattern>/Stand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueStand</display-name>
    <servlet-name>IssueStand</servlet-name>
    <servlet-class>IssueStand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueStand</servlet-name>
    <url-pattern>/IssueStand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchACName</display-name>
    <servlet-name>SearchACName</servlet-name>
    <servlet-class>SearchACName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchACName</servlet-name>
    <url-pattern>/SearchACName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadSign</display-name>
    <servlet-name>UploadSign</servlet-name>
    <servlet-class>UploadSign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSign</servlet-name>
    <url-pattern>/UploadSign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMI</display-name>
    <servlet-name>EMI</servlet-name>
    <servlet-class>EMI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMI</servlet-name>
    <url-pattern>/EMI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMIPay</display-name>
    <servlet-name>EMIPay</servlet-name>
    <servlet-class>EMIPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMIPay</servlet-name>
    <url-pattern>/EMIPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitVerify</display-name>
    <servlet-name>DebitVerify</servlet-name>
    <servlet-class>DebitVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitVerify</servlet-name>
    <url-pattern>/DebitVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemitVerify</display-name>
    <servlet-name>RemitVerify</servlet-name>
    <servlet-class>RemitVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemitVerify</servlet-name>
    <url-pattern>/RemitVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cheque</display-name>
    <servlet-name>Cheque</servlet-name>
    <servlet-class>Cheque</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cheque</servlet-name>
    <url-pattern>/Cheque</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequeClear</display-name>
    <servlet-name>ChequeClear</servlet-name>
    <servlet-class>ChequeClear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeClear</servlet-name>
    <url-pattern>/ChequeClear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearVerify</display-name>
    <servlet-name>ClearVerify</servlet-name>
    <servlet-class>ClearVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearVerify</servlet-name>
    <url-pattern>/ClearVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clear</display-name>
    <servlet-name>Clear</servlet-name>
    <servlet-class>Clear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clear</servlet-name>
    <url-pattern>/Clear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequeStatus</display-name>
    <servlet-name>ChequeStatus</servlet-name>
    <servlet-class>ChequeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeStatus</servlet-name>
    <url-pattern>/ChequeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequeView</display-name>
    <servlet-name>ChequeView</servlet-name>
    <servlet-class>ChequeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeView</servlet-name>
    <url-pattern>/ChequeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequeCancel</display-name>
    <servlet-name>ChequeCancel</servlet-name>
    <servlet-class>ChequeCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeCancel</servlet-name>
    <url-pattern>/ChequeCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelDone</display-name>
    <servlet-name>CancelDone</servlet-name>
    <servlet-class>CancelDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelDone</servlet-name>
    <url-pattern>/CancelDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Draft</display-name>
    <servlet-name>Draft</servlet-name>
    <servlet-class>Draft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Draft</servlet-name>
    <url-pattern>/Draft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftIssue</display-name>
    <servlet-name>DraftIssue</servlet-name>
    <servlet-class>DraftIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftIssue</servlet-name>
    <url-pattern>/DraftIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftVerify</display-name>
    <servlet-name>DraftVerify</servlet-name>
    <servlet-class>DraftVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftVerify</servlet-name>
    <url-pattern>/DraftVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftIssued</display-name>
    <servlet-name>DraftIssued</servlet-name>
    <servlet-class>DraftIssued</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftIssued</servlet-name>
    <url-pattern>/DraftIssued</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftPay</display-name>
    <servlet-name>DraftPay</servlet-name>
    <servlet-class>DraftPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftPay</servlet-name>
    <url-pattern>/DraftPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayVerify</display-name>
    <servlet-name>PayVerify</servlet-name>
    <servlet-class>PayVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayVerify</servlet-name>
    <url-pattern>/PayVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftPaid</display-name>
    <servlet-name>DraftPaid</servlet-name>
    <servlet-class>DraftPaid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftPaid</servlet-name>
    <url-pattern>/DraftPaid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftStatus</display-name>
    <servlet-name>DraftStatus</servlet-name>
    <servlet-class>DraftStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftStatus</servlet-name>
    <url-pattern>/DraftStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftView</display-name>
    <servlet-name>DraftView</servlet-name>
    <servlet-class>DraftView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftView</servlet-name>
    <url-pattern>/DraftView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftCancel</display-name>
    <servlet-name>DraftCancel</servlet-name>
    <servlet-class>DraftCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftCancel</servlet-name>
    <url-pattern>/DraftCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftCancelled</display-name>
    <servlet-name>DraftCancelled</servlet-name>
    <servlet-class>DraftCancelled</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftCancelled</servlet-name>
    <url-pattern>/DraftCancelled</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Guarantee</display-name>
    <servlet-name>Guarantee</servlet-name>
    <servlet-class>Guarantee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guarantee</servlet-name>
    <url-pattern>/Guarantee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOGissue</display-name>
    <servlet-name>LOGissue</servlet-name>
    <servlet-class>LOGissue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGissue</servlet-name>
    <url-pattern>/LOGissue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOGissued</display-name>
    <servlet-name>LOGissued</servlet-name>
    <servlet-class>LOGissued</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGissued</servlet-name>
    <url-pattern>/LOGissued</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>printLOG</display-name>
    <servlet-name>printLOG</servlet-name>
    <servlet-class>printLOG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printLOG</servlet-name>
    <url-pattern>/printLOG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOGissued2</display-name>
    <servlet-name>LOGissued2</servlet-name>
    <servlet-class>LOGissued2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGissued2</servlet-name>
    <url-pattern>/LOGissued2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOGPay</display-name>
    <servlet-name>LOGPay</servlet-name>
    <servlet-class>LOGPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGPay</servlet-name>
    <url-pattern>/LOGPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOGpaid</display-name>
    <servlet-name>LOGpaid</servlet-name>
    <servlet-class>LOGpaid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGpaid</servlet-name>
    <url-pattern>/LOGpaid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shortcut</display-name>
    <servlet-name>Shortcut</servlet-name>
    <servlet-class>Shortcut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shortcut</servlet-name>
    <url-pattern>/Shortcut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AInbox</display-name>
    <servlet-name>AInbox</servlet-name>
    <servlet-class>AInbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AInbox</servlet-name>
    <url-pattern>/AInbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMsg</display-name>
    <servlet-name>AdminMsg</servlet-name>
    <servlet-class>AdminMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMsg</servlet-name>
    <url-pattern>/AdminMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NEWS</display-name>
    <servlet-name>NEWS</servlet-name>
    <servlet-class>NEWS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NEWS</servlet-name>
    <url-pattern>/NEWS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsChange</display-name>
    <servlet-name>NewsChange</servlet-name>
    <servlet-class>NewsChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsChange</servlet-name>
    <url-pattern>/NewsChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsChange1</display-name>
    <servlet-name>NewsChange1</servlet-name>
    <servlet-class>NewsChange1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsChange1</servlet-name>
    <url-pattern>/NewsChange1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsChange2</display-name>
    <servlet-name>NewsChange2</servlet-name>
    <servlet-class>NewsChange2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsChange2</servlet-name>
    <url-pattern>/NewsChange2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsChange3</display-name>
    <servlet-name>NewsChange3</servlet-name>
    <servlet-class>NewsChange3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsChange3</servlet-name>
    <url-pattern>/NewsChange3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsChange4</display-name>
    <servlet-name>NewsChange4</servlet-name>
    <servlet-class>NewsChange4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsChange4</servlet-name>
    <url-pattern>/NewsChange4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CC</display-name>
    <servlet-name>CC</servlet-name>
    <servlet-class>CC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CC</servlet-name>
    <url-pattern>/CC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBranch</display-name>
    <servlet-name>AddBranch</servlet-name>
    <servlet-class>AddBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranch</servlet-name>
    <url-pattern>/AddBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddedBranch</display-name>
    <servlet-name>AddedBranch</servlet-name>
    <servlet-class>AddedBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddedBranch</servlet-name>
    <url-pattern>/AddedBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ROIChange</display-name>
    <servlet-name>ROIChange</servlet-name>
    <servlet-class>ROIChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ROIChange</servlet-name>
    <url-pattern>/ROIChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ROIChanged</display-name>
    <servlet-name>ROIChanged</servlet-name>
    <servlet-class>ROIChanged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ROIChanged</servlet-name>
    <url-pattern>/ROIChanged</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetTime</display-name>
    <servlet-name>RetTime</servlet-name>
    <servlet-class>RetTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetTime</servlet-name>
    <url-pattern>/RetTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeChange</display-name>
    <servlet-name>TimeChange</servlet-name>
    <servlet-class>TimeChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeChange</servlet-name>
    <url-pattern>/TimeChange</url-pattern>
  </servlet-mapping>
</web-app>